# Standard Vector configuration
api:
  enabled: true
  address: "127.0.0.1:8686"

sources:
  my_source_id:
    type: demo_logs
    format: apache_common
    interval: 1
    lines:
      - line1


sinks:
  my_sink_id:
    type: console
    inputs:
      - my_source_id
    encoding:
      codec: json
